.card {
  width: 300px;
  height: 400px;
  border-radius: 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  padding: 19px 17px 0px 19px;
}

.pokemon-name {
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  font-weight: bold;
}

.pokemon-number {
  font-size: var(--font-medium-size);
  line-height: var(--font-medium-line-height);
  font-weight: bold;
}

.pokemon-attributes {
  position: relative;
  width: 100%;
  height: 240px;
  border-radius: 8px;
  background-color: white;
  padding: 56px 20px 16px 20px;
}

.pokemon-attributes .poke-image {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -99px;
  /* Añado estas dos porque al no conseguir importar la foto desde las carpetas y hacerlo desde internet, la imagen es enooorme */
  height: 150px;
  width: 150px;
}

.pokemon-data {
  display: flex;
  gap: var(--base);
  justify-content: center;
  margin-bottom: 16px;
}

.title-data-group {
  display: flex;
  gap: var(--tiny);
  padding: 10px 0px;
}

.data-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-group-subtitle {
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  color: var(--medium-gray);
}
.pokemon-description {
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  color: var(--dark-gray);
  text-align: justify;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: var(--base);
  margin: auto;
  max-width: 968px;
  justify-content: center;
}

.divider {
  width: 1px;
  background: var(--light-gray);
}

/* Lo quito porque al meterle este estilo, deja de hacerse responsive la carda-container */
/* Lo suyo sería serparar home-page y card container, pero retunr solo puede devolver un elemento verdad?? */
/* .home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 968px;
  margin: auto;
} */

.header-box {
  flex-direction: column;
  justify-content: center;
  height: 204px;
  /* Porque no se pone statico arriba?? */
}

.header {
  height: 74px;
  box-shadow: 2px;
}
.search-bar-box {
  margin: auto;
  /* Porque haciendo un justify content:center y display:flex en el padre de a caja no me lo hacía??? */
  display: flex;
  align-items: center;
  max-width: 502px;
  height: 35px;
  /* margin-top: 41px; */
  border: 2px solid;
  border-color: var(--light-gray);
  border-radius: 8px;
  color: var(--light-gray);
}

.search-bar-icon {
  width: 18px;
  height: 18px;
  margin-left: 8px;
  margin-right: 9px;
}

/* .search-bar-word {
} */
/* _________TYPES__________________________________________________________________________________________________________ */
.type-grass {
  background-color: var(--type-grass);
}

.type-rock {
  background-color: var(--type-rock);
}
.type-ghost {
  background-color: var(--type-ghost);
}
.type-steel {
  background-color: var(--type-steel);
}
.type-water {
  background-color: var(--type-water);
}
.type-ice {
  background-color: var(--type-ice);
}
.type-psychic {
  background-color: var(--type-psychic);
}
.type-dark {
  background-color: var(--type-dark);
}
.type-fairy {
  background-color: var(--type-fairy);
}
.type-normal {
  background-color: var(--type-normal);
}
.type-fighting {
  background-color: var(--type-fighting);
}
.type-flying {
  background-color: var(--type-flying);
}
.type-poison {
  background-color: var(--type-poison);
}
.type-ground {
  background-color: var(--type-ground);
}
.type-bug {
  background-color: var(--type-bug);
}
.type-fire {
  background-color: var(--type-fire);
}
.type-electric {
  background-color: var(--type-electric);
}
.type-dragon {
  background-color: var(--type-dragon);
}
